@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 30px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.the-name {
  height: 122vh;
  width: 60vw;
  margin-top: 2px;
  margin-left: 390px;
  background-repeat: no-repeat;
}
.content {
  height: 470px;
  font-size: 30px;
  font-weight: 700;
  color: black;
  margin-top: -700px;
  margin-left: 200px;
} 

/* gridview */

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 12vw;
  height: 25vh;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.grid1
{
  position: absolute;
  margin-top: 30px;
  margin-left: 80px;
  font-size: 12px;
}

/* second grid view */

.column2
{
  float: left;
  width: 12vw;
  height: 25vh;
  padding: 20px;
}

.row2::after
{
  content: "";
  display: table;
  clear: both;
}

.grid2
{
  position: absolute;
  margin-top: -50px;
  margin-left: 520px;
  font-size: 12px;
}

/* third grid */

.column3
{
  float: left;
  width: 12vw;
  height: 25vh;
  padding: 20px;
}

.row3::after
{
  content: "";
  display: table;
  clear: both;
}

.grid3
{
  position: absolute;
  margin-top: -50px;
  margin-left: 950px;
  font-size: 12px;
}

.fonts
{
  font-size: 21px;
  font-weight: bold;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 88px;
  background-color: #000;
  color: #bbb;
  text-align: center;
  margin-top: 10px;

}
.footer > p{
  margin-top: 10px;
  font-size: medium;
}

.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 88px;
  background-color: #000;
  color: #bbb;
  text-align: center;
  margin-top: 500px;

}
.footer > p{
  margin-top: 10px;
  font-size: medium;
  
}